/*Navbar*/
.navbar {
	background-color: var(--primary-colour);
	color: #fff;
	height: 70px;
}

.navbar ul {
	display: flex;
}

.navbar a {
	color: #fff;
	padding: 10px;
	margin: 0 5px;
}

.navbar a:hover {
	border-bottom: 2px #fff solid;
}

.navbar .flex {
	justify-content: space-between;
}

.navbar .active {
	font-weight: bold;
}

.spacer {
	margin-top: 150px;
}

/*Projects*/
.projects{
	height: auto;
	background-color: var(--primary-colour);
	color: #fff;
	position: relative;
}

.projects a:hover {
	font-weight: bold;
}

.projects p, h1, h2{
	margin: 20px 0;
}

.projects h2 {
	font-size: 20px;
}

.projects h1 {
	font-size: 14px;
}

.projects .grid{
	overflow: visible;
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
}

.projects .container {
	padding-top: 30px;
	animation: fadeEffect 2s;
}

.card-project {
	height: 300px;
}
