@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
	--primary-colour: #81b5b2;
	--secondary-colour: #1c3fa8;
	--third-colour: #002240;
	--fourth-colour: #f4f4f4;
}

/*Navbar*/
.navbar {
	background-color: var(--primary-colour);
	color: #fff;
	height: 70px;
}

.navbar ul {
	display: flex;
}

.navbar a {
	color: #fff;
	padding: 10px;
	margin: 0 5px;
}

.navbar a:hover {
	border-bottom: 2px #fff solid;
}

.navbar .flex {
	justify-content: space-between;
}

.navbar .active {
	font-weight: bold;
}

.card-heading {
	font-weight: bold;
	margin-bottom: 5px;
	overflow: auto;
}

.work-info{
	padding-top: 5px;
	border-top: 1px solid black;
	margin-left: 7%;
	margin-right: 7%;
	list-style-type: square;
}

.work{
	height: auto;
	background-color: var(--primary-colour);
	color: #fff;
	position: relative;
}

.work .container {
	animation: slideInFromBottom 1s ease-in;
}

.blue_spacer {
	height: 10px;
	background-color: var(--primary-colour);
}

/* Style the tab */
.tab {
	display: flex;
	justify-content: center;
	overflow: hidden;
	background-color: var(--primary-colour);
}

/* Style the buttons that are used to open the tab content */
.tab button {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	width: 100px;
	height: 40px;
	transition: 0.3s;
	color: #fff
}

/* Change background color of buttons on hover */
.tab button:hover {
	border-bottom: 2px #fff solid;
}

/* Create an active/current tablink class */
.tab button.active {
	font-weight: bold;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  animation: fadeEffect 1.5s;
}