@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
	--primary-colour: #81b5b2;
	--secondary-colour: #1c3fa8;
	--third-colour: #002240;
	--fourth-colour: #f4f4f4;
}

/*Navbar*/
.navbar {
	background-color: var(--primary-colour);
	color: #fff;
	height: 70px;
}

.navbar ul {
	display: flex;
}

.navbar a {
	color: #fff;
	padding: 10px;
	margin: 0 5px;
}

.navbar a:hover {
	border-bottom: 2px #fff solid;
}

.navbar .flex {
	justify-content: space-between;
}

.card-heading {
	font-weight: bold;
	margin-bottom: 5px;
	overflow: auto;
}

.work-info{
	padding-top: 5px;
	border-top: 1px solid black;
	margin-left: 7%;
	margin-right: 7%;
	list-style-type: square;
}

.work{
	height: auto;
	background-color: var(--primary-colour);
	color: #fff;
	position: relative;
}

.work-spacer {
	padding-top: 550px;
}