.spacer {
	margin-top: 150px;
}

/*Projects*/
.projects{
	height: auto;
	background-color: var(--primary-colour);
	color: #fff;
	position: relative;
}

.projects a:hover {
	font-weight: bold;
}

.projects p, h1, h2{
	margin: 20px 0;
}

.projects h2 {
	font-size: 20px;
}

.projects h1 {
	font-size: 14px;
}

.projects .grid{
	overflow: visible;
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
}

.projects .container {
	padding-top: 30px;
	animation: fadeEffect 2s;
}

.card-project {
	height: 300px;
}