/*	my stylesheet */

body {
	font-family: Helvectia, sans-serif;
}

footer {
	width: 100%;
	background-color: #81b5b2;
	color: white;
	text-align: center;
}

.button {
	border: none;
	color: black;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.center {
	text-align:center;
}

.center_italics {
	text-align:center;
	font-style: italic;
}

.responsive {
	width:100%;
	height:auto;
}

.icon {
	width: 25px;
	height: 25px;
}

.navbar #topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

#topnav li {float: left;}

#topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#topnav li a:hover:not(.active) {background-color: #111;}

#topnav li a.active {background-color: #81b5b2;}

#topnav li.right {float: right;}

@media screen and (max-width: 600px) {
	#topnav li.right, 
	#topnav li {float: none;}
}

@media screen and (min-width: 800px) {
	.about {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.projects {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.contact {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
}

.about #mytable , td, th {
	/*border: 1px solid #595959;	Remove this when adding things - black borders */
	border-collapse: collapse;
	width: 100%;
}

#mytable td, th {
	padding: 10px;
	width: 30px;
	height: 25px;
}

.about #cv_links, td, th {
	border-collapse: collapse;
	width: 100%;
}

.projects #projects_table td, th {
	border-collapse: collapse;
	width: 100%;
}

#projects_table td {
	padding: 2.5%;
	max-width: 20%;
}

.contact #contact_table td, th {
	border: 1px solid #595959;
	border-collapse: collapse;
	width: 100%;
}

#contact_table td, th {
	width: auto;
	height: 25px;
}

.spacer {
	font-size: 0; 
    height: 20px;
    line-height: 0;
}

.bigspacer {
	font-size: 0; 
    height: 2000px;
    line-height: 0;
}